.company {
  margin-top: 40px;
  &__title {
    margin-bottom: 32px;
    color: #2c2d2e;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
  }
  &__span {
    color: #ef7c00;
    font-feature-settings: "clig" off, "liga" off;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
  &__text {
    width: 600px;
    margin-bottom: 35px;
    color: #2c2d2e;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
}
