.certificate {
  margin-top: 104px;
  &__title {
    margin-bottom: 30px;
    color: #2c2d2e;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
  }
  &__span {
    color: #ef7c00;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
